body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial,sans-serif;
}
.bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    gap: 50px;
}
.center-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: gray;
}
.center-menu span{ padding-top: 20px;}
.actif{
    color: blue;
    border-bottom: 2px solid rgba(0, 0, 255, 0.856);
    padding-bottom: 5px;

}
.menu-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn{   
    background-color: rgba(0, 0, 255, 0.734);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    font-weight: bold;
}
.logo{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: gray;
    font-size: 50px;
}
.blue{ color: blue;}
.red{color: red;}
.yellow{color: yellow;}
.green{color: green;}
.search-box{
    margin: 30px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.search-box input {
    border: none;
    outline: none;
    flex: 1;
    margin: 0 10px;
}
.lang {
    color: gray;
}
.lang a {text-decoration:none;}
.popular{margin: 40px;}